<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.member.MemberMapper">
	
	<!-- 로그인 -->
	<select id="login" resultType="com.study.member.Member">
		SELECT
			*
		FROM
			member
		WHERE
			mem_userid = #{memUserid}
		AND
			mem_password =#{memPassword}
	</select>
	
	<insert id="joinMember" parameterType="com.study.member.form.MemberForm">
		<!-- 회원가입 -->
		INSERT INTO member
			(mem_userid
			,mem_password
			,mem_username
			,mem_sex
			,mem_email)
		VALUES
			(#{memUserid}
			,#{memPassword}
			,#{memUsername}
			,#{memSex}
			,#{memEmail})
		
	</insert>
	
</mapper>